<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{my_title}}r</title>
    <!-- style from web-stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <!-- style from css -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg')}}">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='android-chrome-192x192.png')}}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png')}}" sizes="180x180">
</head>
<body>
    <main>
        <h1>Check your selected movie titles:</h1>
        <div class="wrapper --horizontal">
            {% for i in range(movie_info.shape[0])%}
            <div class="poster">
                <a href={{movie_info.link[i]}} target="_blank">
                    <img src={{movie_info.image_url[i]}}
                    style='width: 100%; object-fit: scale-up; min-width:50px; max-width:220px'>
                </a>
                <div class="information">
                    <span id="movietitle">{{movie_info.title[i]}}</span>
                    <span id="overview">{{movie_info.overview[i]}}</span>
                    <span>Release Date: {{movie_info.release_date[i]}}</span>
                    <span>TMDB-Rating: {{movie_info.average_rating[i]}}</span>
                </div>
            </div>
            {% endfor %}
            <form>
                <input type="submit" formaction="/" value="Change selection" >
                <input type="submit" formaction="/recommendation" value="Get recommendations">
            </form>
        </div>
    </main>
</body>

</html>